.App {
  height: 100%;
  font-family: "Source Code Pro", "Ubuntu Mono", "Consolas", monospace;
}

.main-content {
  height: 100%;
}

.token-mnemonic {
    color: #ae81ff;
}

.token-mnemonic-suffix {
    color: #f8f8f2;
}

.token-syntax {
    color: #f8f8f2;
}

.token-operand {
    color: #fd971f;
}

.token-operand-reg, .token-operand-mem-base {
    color: #f92672;
}

rect.background {
    fill: #1e1e1e;
}

rect.block {
    fill: #272822;
    stroke: #383830;
    stroke-width: 1px;
}

div.block {
    color: #f8f8f2;
    margin: 5px;
}

div.block h5 {
    color: #75715e;
}

div.block > table {
    border-spacing: 0;
}

div.block > table > tbody > tr > td {
    padding: 0;
}
