.App {
  height: 100%;
}

.main-content {
  height: 100%;
}

.token-mnemonic {
    color: blue;
}

.token-mnemonic-suffix {
    color: lightblue;
}

.token-syntax {
    color: grey;
}

.token-operand {
    color: red;
}
