.App {
  height: 100%;
  font-family: "Source Code Pro", "Ubuntu Mono", "Consolas", monospace;
}

.main-content {
    height: 100%;
    /* compensate for "wide" sidebar, see semantic-ui sidebar.css */
    padding-right: 350px;
}

.label {
    color: #cc6633;
}

.address {
    color: #75715e;
}

.comment {
    color: #f8f8f2;
}

.token-syntax {
    color: #f8f8f2;
}

.token-operand {
    color: #fd971f;
}

.token-operand-reg,
.token-operand-mem.token-operand-base,
.token-operand-mem.token-operand-index
{
    color: #f92672;
}

.token-mnemonic, .token-operand-shift_type {
    color: #ae81ff;
}

.token-mnemonic-suffix {
    color: #f8f8f2;
}

rect.background {
    fill: #1e1e1e;
}

rect.block {
    fill: #272822;
    stroke: #383830;
    stroke-width: 1px;
}

div.block {
    color: #f8f8f2;
    margin: 5px;
}

div.block h5 {
    color: #75715e;
}


div.input-line {
    display: flex;
}

div.input-line input[type="text"] {
    border: 0;
    background: unset;
    color: unset;
    font-family: unset;
    padding: 0;
    margin: 0;
}
